{% extends 'base.html'%}
{% block title%} About {% endblock title %}

{%block content%} 
  <style>
      body{
    background-color: #fff3e6;
      }
      .up{
            position: relative;
            top: -450px;
      }

  </style>

 {% load static %}
 <div class="container-fluid float-left mt-2">
  <img src= "{% static 'images/canteen2.jpg' %}" class=""  width="700" height="500" >
  {% comment %} <img src= "{% static 'images/aboutimg.jpg' %}" class="" alt="Responsive image" width="700" height="500" > {% endcomment %}
 </div>

 <div class="ml-5  float-right up \">
     
     <div class=" ml-5 float-right pl-5 ">
      <h1 class=>  About Us </h1>
       <i>Cafe Bella </i>offers a unique coffee house environment unlike<br> any other in COEP.
        We are not only a place to drop in and get<br> your morning cup of coffee 
        (although you are more than<br> welcome to do that), we are a place where
         you can sit down and enjoy<br>  that tailor-made lunch or dinner. 
         If you need to work, we have a seating <br>area created specifically for you. 
         If you need to rest, we have a <br>soft-seating area in front of a 
         stone fire place that is perfect<br> for your weary mind and body. 
         We offer a delicious variety of<br> main courses, starters and sweet dishes 
         made by our professionally <br>trained baristas. We have everything
          from classic coffee to our <br>house made specialty beverages. 
           All of our sauces & syrups are made<br> in-house with all natural ingredients
            (no chemicals or preservatives)<br> ensuring you the highest quality
            in taste & health.<br>  You can complete your dinner/lunch with one of our<br>
             delicious sweet treats made by our very own baker.<br> 
             We look forward to serving you here!<br>
    
     </div>
 </div>

 
  {% endblock content %}
