{% extends 'base.html'%}
{% block title%} Contact {% endblock title %}

{%block content%} 

<style>
    body{
           background-color: #e9b2b7;      
    }
    .up{
        position: relative;
        top: -450px;
  }

</style>
          

<div class=" container-fluid float-left" >
{% load static %}
<img src= "{% static 'images/contactimg1.jpg' %}" class="img-fluid" alt="Responsive image" width="700" height= "500"  px-0>

</div>
<div  >
<form action = "/contact" method="post">
  {% csrf_token %}
    <div class="form-group mr-5 ml-5">

      <div class="form-group mr-5 ">
        <label for="name"> Name</label>
        <input type="text" class="form-control" id="name" placeholder="Name" name="name">
      </div>

      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group mr-5 ml-5">
      <label for="phone">Phone Number</label>
      <input type="phone" class="form-control" id="phone" placeholder="" name="phone">
    </div>
   

    <div class="form-group mr-5 ml-5 ">
     <label for="issue">Feedbacks/ Queries / Issues </label> 
      <textarea class="form-control" name="issue" id ="content" cols="30" rows="5"  > </textarea>
    </div>
    <button type="submit" class="btn btn-primary ml-5">Submit</button>
  </form>
</div>
  {% endblock content %}