{% extends 'base.html' %}


   {% block title%} HOME {%endblock title%}

    {% block content %}            <!-- content dynamic ,only belonging for index starts-->>
    <div class="container mt-3">
      <style>
         body {
          background-color: #DEB887
         }
         .bg
         {
          background-color: #301934;
         }
         .bg2
         {
          background-color: #ffe4e1;
         }
       </style>

        
      <!--h2 >  </h2-->
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
      
        <!-- Indicators -->
        <ul class="carousel-indicators l-5">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1" ></li>
          <li data-target="#myCarousel" data-slide-to="2" ></li>
        </ul>
        {% load static %}
        <!-- The slideshow -->
        <div class="carousel-inner " >
          <div class="carousel-item active">
            <img src="{% static 'images/food1.jpg' %}" alt="food1" width="1000" height="450">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/food2.jpg' %}" alt="food2" width="1000" height="450">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/food3.jpg' %}" alt="food3" width="1000" height="450">
          </div>
        </div>
        
        <!-- Left and right controls -->

        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>

        
      </div>
      
      </div>
      <div class="ml-5 mr-5 ">
       <h1 class="ml-5 mr-5 mt-2"> <p>Hungry ? Order on the go without wasting time ! <p></h1>
       <footer class="sections " id="footer-sections" data-footer-sections="">
  
        <section data-test="page-section" data-section-theme="dark" class="page-section
        
          layout-engine-section
        
        background-width--full-bleed
        
          section-height--small
        
        
          content-width--medium
        
        horizontal-alignment--center
        vertical-alignment--middle
        
          
        
        
        dark" data-section-id="61aa60512b7f5f4d6d1ce8f7" data-controller="SectionWrapperController" data-current-styles="{
    &quot;imageOverlayOpacity&quot;: 0.15,
    &quot;backgroundWidth&quot;: &quot;background-width--full-bleed&quot;,
    &quot;sectionHeight&quot;: &quot;section-height--small&quot;,
    &quot;horizontalAlignment&quot;: &quot;horizontal-alignment--center&quot;,
    &quot;verticalAlignment&quot;: &quot;vertical-alignment--middle&quot;,
    &quot;contentWidth&quot;: &quot;content-width--medium&quot;,
    &quot;sectionTheme&quot;: &quot;dark&quot;,
    &quot;sectionAnimation&quot;: &quot;none&quot;,
    &quot;backgroundMode&quot;: &quot;image&quot;
    }" data-animation="none" data-controllers-bound="SectionWrapperController" data-active="true">
      <div class="section-background p-5 ">
      
        
      
      </div>
      <div class="content-wrapper p-5 bg2 mr-5 " style=""  >
        <div class="content ">
          
          
          
          
          
          <div class="sqs-layout sqs-grid-12 columns-12 p-5" data-type="page-section" id="page-section-61aa60512b7f5f4d6d1ce8f7"><div class="row sqs-row"><div class="col sqs-col-12 span-12"><div class="row sqs-row"><div class="col sqs-col-3 span-3"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-bd5b6d5d1563270f8a4e"><div class="sqs-block-content"><h3 style="white-space:pre-wrap;">VISIT US:</h4><p class="" style="white-space:pre-wrap;">1381 Boylston Street</p><p class="" style="white-space:pre-wrap;">Boston, MA  02215</p>
    
    
    </div></div></div><div class="col sqs-col-5 span-5"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1638849557299_16652"><div class="sqs-block-content">
      <h3 style="white-space:pre-wrap;">HOURS<br><strong>Dining &amp; TAKEOUT/DELIVERY</strong></h4><p class="sqsrte-small" style="white-space:pre-wrap;">MONDAY  - THURSDAY 4:00 - 9:00</p><p class="sqsrte-small" style="white-space:pre-wrap;">FRIDAY - SATURDAY 11:30 - 10:00</p><p class="sqsrte-small" style="white-space:pre-wrap;">SUNDAY 11:30 - 9:00</p>
    
    
    </div></div></div>
    <div class="col sqs-col-1 span-1"><div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_1_1639188492281_6820"><div class="sqs-block-content">&nbsp;</div></div></div><div class="col sqs-col-3 span-3"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_1_1638729908178_13291"><div class="sqs-block-content">
      <h4 style="white-space:pre-wrap;">LET’S GET SOCIAL</h4>
      
      {% comment %} <a href="/contact" class="btn btn-secondary btn-lg disabled mt-5" role="button"> Contact Us  </a>
        {% endcomment %}
        
        <a href="http://127.0.0.1:8000/contact" class="btn btn-secondary btn-lg" role="button" aria-pressed="true">CONTACT US </a>
      
    </div></div><div class="sqs-block socialaccountlinks-v2-block sqs-block-socialaccountlinks-v2" data-block-type="54" id="block-596b7ae8c15cc70d7b32"><div class="sqs-block-content">
    
    
    
    <div class="sqs-svg-icon--outer social-icon-alignment-left social-icons-color- social-icons-size-medium social-icons-shape-circle social-icons-style-solid">
      <nav class="sqs-svg-icon--list">
        
      </nav>
    </div>
    </div></div></div></div></div></div></div>
        </div>
      </div>
      

    </section>
    
      
        <section data-test="page-section" data-section-theme="dark" class="page-section 
        
          layout-engine-section
        background-width--full-bleed
          section-height--small
          content-width--wide
        horizontal-alignment--center
        vertical-alignment--middle
        dark" data-section-id="61aedd614b23aa1466900e6e" data-controller="SectionWrapperController" data-current-styles="{
    &quot;imageOverlayOpacity&quot;: 0.15,
    &quot;backgroundWidth&quot;: &quot;background-width--full-bleed&quot;,
    &quot;sectionHeight&quot;: &quot;section-height--small&quot;,
    &quot;horizontalAlignment&quot;: &quot;horizontal-alignment--center&quot;,
    &quot;verticalAlignment&quot;: &quot;vertical-alignment--middle&quot;,
    &quot;contentWidth&quot;: &quot;content-width--wide&quot;,
    &quot;customContentWidth&quot;: 90,
    &quot;sectionTheme&quot;: &quot;dark&quot;,
    &quot;sectionAnimation&quot;: &quot;none&quot;,
    &quot;backgroundMode&quot;: &quot;image&quot;
    }" data-animation="none" data-controllers-bound="SectionWrapperController" data-active="true">
      <div class="section-background" >
      
        
      
      </div>
      <div class="content-wrapper" style="
          
            
          
        ">
        <div class="content">
        <div class="sqs-layout sqs-grid-12 columns-12" data-type="page-section" id="page-section-61aedd614b23aa1466900e6e"><div class="row sqs-row"><div class="col sqs-col-12 span-12"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-a236be9257edce30fbc7"><div class="sqs-block-content"><p style="text-align:center;white-space:pre-wrap;" class="sqsrte-small">© 2022 Cafe Bella, All Rights Reserved</p>
    
    
    </div></div></div></div></div>
      </div>
      </div>
      
    </section>
    
      
    </footer>
    ..............................................
      
      
      </div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!--script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script-->
   {% endblock content %} 

   