{% extends 'base.html'%}
{% block title%} Item {% endblock title %}

{%block content%} 
  <style>
      body{
    background-color: #fff3e6;
      }
      .up{
            position: relative;
            top: -450px;
      }

  </style>

 {% load static %}
 <div class="container-fluid ">
     <!--img src= "{% static 'images/aboutimg.jpg' %}" class="" alt="Responsive image" width="700" height="500" -->
 </div>

 <div class="ml-5 ">
     
     <div class=" ml-5  ">
      <h1 class=>  View Orders :</h1>
      <button class="btn btn-secondary cart my-2" > Add Order</button>
     
      
      <div class="my-4 pr-5">
        <ul class="list-group" id="items">
        </ul>
    </div>
      {%endblock content%}

  {%block js%}
<script>
if (localStorage.getItem('cart') == null) {
    var cart = {};
} else {
    cart = JSON.parse(localStorage.getItem('cart'));
}
console.log(cart);
var sum = 0;
if ($.isEmptyObject(cart)) {
    // If object is empty
    mystr = "<p>Your cart is empty, please add some items before checking out ! </p>"
    $('#items').append(mystr);
}

for (item in cart) {

    let name = cart[item][1];
    let qty = cart[item][0];
    sum = sum + qty;
    mystr = `        <li class="list-group-item d-flex justify-content-between align-items-center">
                   ${name}
                    <span class="badge badge-primary badge-pill">${qty}</span>
                </li>`
    $('#items').append(mystr);
}
document.getElementById('cart').innerHTML = sum;
</script>
{%endblock js%}
